@import "@Themes/constants.scss";
@import "@Themes/animation.scss";

.root {
    border-radius: 6px;
    background: $backgroundColor2;
    box-shadow: 0 1px 10px $shadowColor;
    padding: 24px;
    width: 100%;
    height: 100%;
    will-change: opacity, transform;
    animation: fadeInFromLeft 500ms;
    flex-direction: column;
    display: flex;

    .title {
        text-transform: uppercase;
        font-size: large;
        color: white;
        margin-bottom: 24px;
    }

    .no-data {
        font-size: 1em;
        color: grey;
        position: relative;
        text-align: center;
        margin: auto;
        min-height: 78px;
        line-height: 78px;
    }
}