@import "@Themes/constants.scss";
@import "@Themes/animation.scss";

.root {
  border: 1px solid $borderColor;
  background-color: $backgroundColor;
  border-radius: 8px;
  padding: 24px;

  .header {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    margin-bottom: 24px;
    color: $placeholderColor;
  }

  .content {
  }
}
