@import "@Themes/constants.scss";
@import "@Themes/animation.scss";

.root {
    will-change: opacity, transform;
    animation: fadeInFromLeftf 500ms;
    border-radius: 6px;
    background: $backgroundColor2;

    .title {
        text-transform: uppercase;
        font-size: large;
        margin-bottom: 15px;
    }
}