@import "@Themes/constants.scss";

.root {
  flex-basis: 50%;
  width: 100%;
  .content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
  
    .input-container {
      flex: 1;
      display: block;
    }
  
    .button-container {
      min-width: 160px;
    }
  }
  
}