@import "@Themes/constants.scss";
@import "@Themes/animation.scss";

.root {
  .header {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 14px;
    .title {
      display: flex;
      flex-direction: row;
      gap: 20px;
      align-items: center;
      flex-wrap: wrap;
    }
  }

  .content {
    display: flex;
    justify-content: center;
    gap: 24px;
    align-items: flex-start;
    margin-bottom: 24px;

    @media (max-width: $screen-l) {
      flex-direction: column;
    }

    .filters-desktop {
      max-width: 303px;
      @media (max-width: $screen-l) {
        display: none;
      }
    }

    .filters-mobile {
      gap: 24px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      width: 100%;
      .container-button {
        width: 126px;
      }
      @media (min-width: $screen-l) {
        display: none;
      }
    }

    .table {
      overflow-x: auto;
      display: block;
      text-align: left;
      max-height: 80vh;
      width: 100%;
      border-radius: 6px;
      background-color: $backgroundColor2;

      thead {
        position: sticky;
        top: 0;
        background-color: $backgroundColor2;

        display: table;
        overflow-x: none;
        width: 100%;
        th {
          &.date {
            width: 20%;
            min-width: 200px;
          }

          &.node-type {
            width: 10%;
            min-width: 100px;
          }

          &.type-of-requests {
            width: 40%;
            min-width: 300px;
          }

          &.status {
            width: 20%;
            min-width: 200px;
          }
          padding: 24px;
        }
      }

      tbody {
        display: table;
        max-height: 60vh;
        overflow-y: auto;
        width: 100%;
        tr {
          width: 100%;

          max-height: 48px;
        }

        tr:nth-child(odd) {
          background-color: $borderColor;
        }

        tr:nth-child(even) {
          background-color: $backgroundColor2;
        }

        border: none;

        td {
          display: table-cell;
          padding: 15px 24px;
          &.date {
            color: $primaryColor;
            width: 20%;
            min-width: 200px;
          }

          &.node-type {
            color: $subTextColor;
            text-transform: uppercase;
            width: 10%;
            min-width: 100px;
          }

          &.type-of-requests {
            width: 40%;
            min-width: 300px;
          }

          &.status {
            width: 20%;
            min-width: 200px;
          }
        }
      }
    }

    .root-filters {
      display: flex;
      border-radius: 6px;
      flex-direction: column;

      background-color: $backgroundColor2;
      gap: 40px;
      padding: 24px;
      min-width: 303px;

      .filters-container {
        display: flex;
        flex-direction: column;
        gap: 24px;
        .title {
          font-family: "Proxima Nova";
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 22px;
        }

        .filter-container {
          display: flex;
          flex-direction: column;
          gap: 8px;

          .sub-title {
            color: $subTextColor;
            font-family: "Proxima Nova";
            font-style: normal;
            font-weight: 600;
            font-size: 13px;
            line-height: 18px;
          }

          .status-filter-container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            gap: 12px;
          }
        }
      }

      .divider {
        height: 1px;
        width: 100%;
        background-color: $borderColor;
      }

      .footer {
        display: flex;
        width: 100%;
        align-items: center;
        gap: 24px;
      }
    }
  }
}
